{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Vision</title>
</head>

<body>
    <div class="container d-flex justify-content-center pt-5">
        <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 text-center custom-gap">
                    <img id="person1_img" src="..." class="card-img-top" alt="PassPort_Card_1">
                    <div class="card-body">
                        <h5 class="card-title">PassPort_Card_1</h5>
                        <p class="card-text">Indian passport person image</p>
                        <input type="file" name="person1" class="btn btn-primary"
                            onchange="previewImage(event, 'person1_img')">
                    </div>
                </div>
                <div class="col-md-6 text-center custom-gap">
                    <img id="person2_img" src=".." class="card-img-top" alt="PassPort_Card_2">
                    <div class="card-body">
                        <h5 class="card-title">PassPort_Card_2</h5>
                        <p class="card-text">Indian passport person image</p>
                        <input type="file" name="person2" class="btn btn-primary"
                            onchange="previewImage(event, 'person2_img')">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>    
    <div class="container mt-5">
        <h1 class="text-center">Result</h1>
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>Original PassPort_Card_1</h3>
                <img src="{{ person1_url }}" class="img-fluid" alt="Original PassPort_Card_1">
                {% if cropped_person1_url %}
                <h3 class="mt-4">Processed PassPort_Card_1</h3>
                <img src="{{ cropped_person1_url }}" class="img-fluid" alt="Processed PassPort_Card_1">
                {% endif %}
            </div>
            <div class="col-md-6 text-center">
                <h3>Original PassPort_Card_2</h3>
                <img src="{{ person2_url }}" class="img-fluid" alt="Original PassPort_Card_2">
                {% if cropped_person2_url %}
                <h3 class="mt-4">Processed PassPort_Card_2</h3>
                <img src="{{ cropped_person2_url }}" class="img-fluid" alt="Processed PassPort_Card_2">
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center comparison-result">
                <h1>Comparison Result</h1>
                <p><h4>{{ comparison_result }}</h4></p>
            </div>
        </div>
    </div>

    <script>
        function previewImage(event, id) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById(id);
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
